*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sanserif{
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-inline: 1%;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 5%;
    align-items: center;
}

header li{
    padding-bottom: 6%;
}

header .big{
    padding-bottom: 4%;
}

header li:hover{
    border-bottom: 2px solid black;
}

.bottoniblu{
    background-color: #0061FF;
    color: white;
    padding: 8px 20px 8px 20px;
    border: none;
}

.bottoniblu:hover{
    opacity: 0.7;
}

header nav ul:first-child{
      flex-basis: 30%;
}

header nav ul:last-child{
    flex-basis: 30%;
    justify-content: flex-end;
}

.introduzione{
    width: 100%;
    height: 75vh;
    background-color: #B4D0E7;
}

#riquadro-introduzione{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#riquadro-introduzione h1{
    text-align: center;
    padding-top: 6%;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    font-size: 80px;
    text-align: justify;
}

.header-content-left{
    width: 30%;
    margin-top: 3%;
}

.arrowdown{
    width: 5%;
    height: 7vh;
    margin-top: 9%;
    font-size: 50px;
    color: black;
}

.jumbo img{
    width: 120%;
    height: 120%;
}

.jumbo{
    position: absolute;
    left: 40%;
    bottom: -11%;
}

.piani-buisness{
    width: 60%;
    height: 98vh;
    margin: 6% auto;
}

.piani-buisness h1{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    font-size: 50px;
}

#radiobuzz{
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

#cards{
    display: flex;
    margin-top: 3%;
    gap: 55px;
}

.piani{
    border: 1px solid grey;
    width: 30%;
    height: 84vh;
}

#cards h4{
    padding-block: 4%;
    text-align: center;
}

.testo-card{
    width: 80%;
    margin: 8% auto;
    height: 90%;
}

main ul {
    list-style-type: none;
    margin-top: 15%;
}
 
main ul > li{
    padding-bottom: 15px;
    font-size: 13px;
}

.testo-card h2,h5{ 
    padding-bottom: 15px;
}

.prova-card{
    padding: 8px 55px 8px 55px;
}

.linee-piccole{
    margin-block: 10%;
    width: 15%;
}


.enterprize{
    width: 60%;
    height: 30vh;
    border: 1px solid black;
    margin: 0 auto;
}

.enterprize h4{
    padding-block: 1%;
    text-align: center;
}

.testo-enterprise{
    width: 70%;
    height: 90%;
    padding: 3%; 
}

.testo-enterprise h2{
    padding-bottom: 2%;
}

.testo-enterprise p:last-child{
    padding-top: 8%
}

#flex-container-team{
    display: flex;
    justify-content: space-between;
}

.contatti{
    height: 4vh;
    width: 20%;
    margin: 2% 2% 0 0;
}

.partner-dropbox{
    width: 60%;
    height: 60vh;
    margin: 8% auto;
}

.partner-dropbox img{
    width: 700px;
    height: 60vh;
}

.partner-dropbox div:first-child{
    display: flex;
}

#scritte-partner{
    padding: 5% 3% 0 3%;
}

#scritte-partner p{
    margin-top: 7%;
}

#trova-un-partner{
    background-color: white;
    padding: 2%;
    border: 2px solid black;
    margin-top: 6%;
}

.piu-operazioni{
    height: 120vh;
    width: 60%;
    margin: 8% auto;
}

.piu-operazioni .flex-list{
    display: flex;
    margin-top: 5%;
    gap: 7%;
}

.piu-operazioni img{
    width: 320px;
}

.piu-operazioni h2{
    font-size: 25px;
}

.piu-operazioni h1{
    font-size: 35px;
}
.descrizioni{
    margin-top: 7%;
    font-size: 15px;
}

.cinquecentomila{
    height: 17vh;
    width: 60%;
    margin: 5% auto;
}

.cinquecentomila h1{
    font-size: 30px;
    padding-bottom: 5%;
}

.loghi img{
    width: 150px;
}

.loghi{
  width: 35%;  
}

.caselle{  
    display: flex;
    height: 30vh;
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.designit{
    background-color: #A2D39B; 
}

.asu{
    background-color: #61082B;
}

.flex-container-loghi{
    display: flex;
}

.florida{
    background-color: #0093CE;
}

.topps{
   background-color: #FF1C1C; 
}

.didascalia img{
    width: 250px;
}

.didascalia{
    height: 60vh;
    width: 36%;
    border: 1px solid black;
    background-color: #F5F5F5;
}

.loghi-e-didascalia{
    display: flex;
}

.didascalia div{
    padding: 5%;
}

.didascalia hr{
    width: 18%;
    margin-block: 7%;
    color: grey;
}

.didascalia p:last-child{
    margin-block: 7%;
}

.wbr{
    background-color: #D5001F;
}

.hc{
    background-color: #B4D0E7;
}

.lp{
    background-color: #0D2481;
}

.cco{
    background-color: #FFD830;
}

.db-azienda{
    width: 100%;
    height: 30vh;
    background-color: #B4D0E7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.db-azienda h1{
    font-size: 30px;
}

.db-azienda button{
    background-color: white;
    padding: 10px 40px 10px 40px;
    border: none;
}

.domande-frequenti{
    width: 60%;
    height: 45vh;
    margin: 0 auto;
}

.domande-frequenti hr{
    margin-block: 3%;
    color: lightslategray;
}

.domande-frequenti h1{
    font-size: 30px;
}

.domande-frequenti ul > li{
    display: flex;
    gap: 50%;
}

footer{
    margin-top: 17vh;
    background-color: black;
}

.liste{
    width: 70%;
    height: 55vh;
    margin: 0 auto;
    color: white;
}

.flex-liste{
    display: flex;
    gap: 10%;
}

.liste ul{
    list-style-type: none;
    padding-top: 5%;
}

.liste ul h3{
    padding-bottom: 20%;
}

.liste ul > li{
    padding-bottom: 6%;
}

footer hr{
    border: 1px solid white;
    margin-top: 7%;
    margin-bottom: 3%;
    width: 10%;
}

.arrow:hover{
    transform: rotate(180deg);
    padding-top: 20vh;
}
