*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sanserif{
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-inline: 1%;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 5%;
    align-items: center;
}

.bottoniblu{
    background-color: #0061FF;
    color: white;
    padding: 8px 10px 8px 10px;
    border: none;
}

header nav ul:first-child{
      flex-basis: 30%;
}

header nav ul:last-child{
    flex-basis: 30%;
    justify-content: flex-end;
}

.introduzione{
    width: 100%;
    height: 75vh;
    background-color: #B4D0E7;
}

#riquadro-introduzione{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#riquadro-introduzione h1{
    text-align: center;
    padding-top: 6%;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    font-size: 80px;
    text-align: justify;
}

.header-content-left{
    width: 30%;
    margin-top: 3%;
}

.arrowdown{
    width: 5%;
    height: 7vh;
    margin-top: 9%;
    font-size: 50px;
    color: black;
}

.jumbo img{
    width: 120%;
    height: 120%;
}

.jumbo{
    position: absolute;
    left: 40%;
    bottom: -11%;
}

