*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sanserif{
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-inline: 1%;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 5%;
    align-items: center;
}

.bottoniblu{
    background-color: #0061FF;
    color: white;
    padding: 8px 20px 8px 20px;
    border: none;
}

header nav ul:first-child{
      flex-basis: 30%;
}

header nav ul:last-child{
    flex-basis: 30%;
    justify-content: flex-end;
}

.introduzione{
    width: 100%;
    height: 75vh;
    background-color: #B4D0E7;
}

#riquadro-introduzione{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#riquadro-introduzione h1{
    text-align: center;
    padding-top: 6%;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    font-size: 80px;
    text-align: justify;
}

.header-content-left{
    width: 30%;
    margin-top: 3%;
}

.arrowdown{
    width: 5%;
    height: 7vh;
    margin-top: 9%;
    font-size: 50px;
    color: black;
}

.jumbo img{
    width: 120%;
    height: 120%;
}

.jumbo{
    position: absolute;
    left: 40%;
    bottom: -11%;
}

.piani-buisness{
    width: 60%;
    height: 98vh;
    margin: 6% auto;
}

.piani-buisness h1{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    font-size: 50px;
}

#radiobuzz{
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

#cards{
    display: flex;
    margin-top: 3%;
    gap: 55px;
}

.piani{
    border: 1px solid grey;
    width: 30%;
    height: 84vh;
}

#cards h4{
    padding-block: 4%;
    text-align: center;
}

.testo-card{
    width: 80%;
    margin: 8% auto;
    height: 90%;
}

main ul {
    list-style-type: none;
    margin-top: 15%;
}
 
main ul > li{
    padding-bottom: 15px;
    font-size: 13px;
}

.testo-card h2,h5{ 
    padding-bottom: 15px;
}

.prova-card{
    padding: 8px 55px 8px 55px;
}

.linee-piccole{
    margin-block: 10%;
    width: 15%;
}


.enterprize{
    width: 60%;
    height: 30vh;
    border: 1px solid black;
    margin: 0 auto;
}

.enterprize h4{
    padding-block: 1%;
    text-align: center;
}

.testo-enterprise{
    width: 70%;
    height: 90%;
    padding: 3%; 
}

.testo-enterprise h2{
    padding-bottom: 2%;
}

.testo-enterprise p:last-child{
    padding-top: 8%
}

#flex-container-team{
    display: flex;
    justify-content: space-between;
}

.contatti{
    height: 4vh;
    width: 20%;
    margin: 2% 2% 0 0;
}
